*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    color: #333;
    line-height: 1.6;
}

.hdiv{
    font-size: xx-large;
}

.customButton{
    background-color: #d3eed3;
    color: rgb(45, 39, 39);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
